html, body {
  background-color: #E0F7A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.progress-ring__circle {
  transform-origin:center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.5s;
}
